#!/usr/sbin/nft -f

flush ruleset

table inet filter {
    chain inet-pre {
        type filter hook prerouting priority 0; policy drop;
        ct state invalid counter drop # Drop invalid and faulty packets
        iif != lo ip daddr 127.0.0.0/8 counter drop
        iif != lo ip6 daddr ::1 counter drop
        counter accept
    }

    chain inet-in {
        type filter hook input priority 0; policy drop;
        ct state { established,related } counter accept # Allow traffic from established and related packets
        iif lo accept # Allow loopback traffic
        ip protocol icmp counter limit rate 10/second accept # Allow all ICMP and IGMP traffic, but enforce a rate limit
        ip protocol igmp counter limit rate 10/second accept
        ip6 nexthdr icmpv6 counter limit rate 10/second accept
        tcp dport 22 counter accept # Allow SSH traffic
        include "/etc/nftables/inet-in-*.conf" # Include roles rules
        counter {% if nftables_log_rejected is defined and nftables_log_rejected %}log prefix "nftables rejected IN " {% endif %}reject with icmpx type port-unreachable # Reject
    }

    chain inet-fwd {
        type filter hook forward priority 0; policy drop;
        ct state { established,related } counter accept # Allow traffic from established and related packets
        ip protocol icmp counter accept # Allow all ICMP and IGMP traffic, but do NOT enforce a rate limit
        ip protocol igmp counter accept
        ip6 nexthdr icmpv6 counter accept
        include "/etc/nftables/inet-fwd-*.conf" # Include roles rules
        counter {% if nftables_log_rejected is defined and nftables_log_rejected %}log prefix "nftables rejected FWD " {% endif %}reject with icmpx type host-unreachable # Reject
    }

    chain inet-out {
        type filter hook output priority 0; policy drop;
        ct state { established,related } counter accept # Allow traffic from established and related packets
        oif lo counter accept
        ip protocol icmp counter accept # Allow all ICMP and IGMP traffic, but do NOT enforce a rate limit
        ip protocol igmp counter accept
        ip6 nexthdr icmpv6 counter accept
        udp dport 53 counter accept # Allow DNS traffic
        tcp dport 53 counter accept
        udp dport 123 counter accept # Allow NTP traffic
        tcp dport 80 counter accept # Allow HTTP traffic
        tcp dport 443 counter accept # Allow HTTPS traffic
        tcp dport 22 counter accept # Allow SSH traffic
        include "/etc/nftables/inet-out-*.conf" # Include roles rules
        counter {% if nftables_log_rejected is defined and nftables_log_rejected %}log prefix "nftables rejected OUT " {% endif %}reject with icmpx type admin-prohibited # Reject
    }

    chain inet-post {
        type filter hook postrouting priority 0; policy drop;
        ct state invalid counter drop # Drop invalid and faulty packets
        oif != lo ip daddr 127.0.0.0/8 counter drop
        oif != lo ip6 daddr ::1 counter drop
        counter accept
    }

    include "/etc/nftables/inet-chain-*.conf" # Include roles chains
}
